In [1]:
# Test if Python works
import pandas as pd
pd.__version__

'3.0.0'

Creating a Pandas DataFrame from Python Objects

In this example, a DataFrame is created from a Python dictionary containing NumPy arrays.

In [4]:
import numpy as np

# Set seed for reproducibility, meaning the same random values are generated each time the code is executed.
np.random.seed(42)

# Number of patients
n = 5

# Generate data
patient_id = np.random.randint(1000, 2000, n)
clinic = np.random.choice(["Cardiology", "Neurology", "Pediatrics"], n)

# Date columns must be explicitly converted to datetime to avoid being treated as text.
visit_date = pd.to_datetime("2024-01-01") + pd.to_timedelta(np.random.randint(0, 30, n),unit="D") 


# Create DataFrame
df = pd.DataFrame({
    "patient_id": patient_id,
    "clinic": clinic,
    "visit_date": visit_date
})

df
# After creating the DataFrame, we inspect the data types
#df.dtypes

   patient_id      clinic visit_date
0        1102  Cardiology 2024-01-23
1        1435  Cardiology 2024-01-11
2        1860  Pediatrics 2024-01-11
3        1270   Neurology 2024-01-24
4        1106  Pediatrics 2024-01-21

This example demonstrates that a DataFrame consists of multiple aligned Series objects, each with its own data type. The shared index ensures row alignment across columns, while the underlying NumPy arrays determine the dtype of each column.